
data/raw_zips/
data/raw_csv/
data/processed/

.env

__pycache__/
*.pyc
.ipynb_checkpoints/

*.ipynb_checkpoints

# OS / EDITOR
.DS_Store
Thumbs.db
.vscode/

# validation artifacts
scratch/
*.log
*.out
